<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <!--包扫描-->
    <context:component-scan base-package="com.msh.www.controller"/>
    <context:component-scan base-package="com.msh.www.exception"/>
    <context:component-scan base-package="com.msh.www.login"/>
    <!--开启适配器映射器-->
    <mvc:annotation-driven/>

    <bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
    </bean>

    <!--配置发送邮件页面的模板引擎-->
    <bean id="freeMarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <!--读取html页面的模板位置 并且对里面的值进行封装-->
        <property name="templateLoaderPath" value="/WEB-INF/ftl"/>
        <!--防止乱码-->
        <property name="defaultEncoding" value="utf-8"/>
    </bean>


    <!--异步任务调度器-->
    <bean id="poolTaskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="30"/>
        <property name="maxPoolSize" value="100"/>
    </bean>
    <!--定时任务-->
    <bean id="scheduler" class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler">
    </bean>
    <!--Async 指定的异步操作-->
    <task:annotation-driven executor="poolTaskExecutor" scheduler="scheduler"/>

   <mvc:interceptors>
       <mvc:interceptor>
           <mvc:mapping path="/**"/>
           <mvc:exclude-mapping path="/login"/>
           <bean id="loginInterceptor" class="com.msh.www.interceptor.LoginInterceptor"/>
       </mvc:interceptor>
   </mvc:interceptors>
</beans>